/* Nav related styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

nav {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary{
    background-color: #fd6e0a;
    border-radius: 5px;
}

.nav-title {
    color: #474747;
    font-size: 45px;
    font-weight: 800px;
}

.nav-title span {
    color: orange;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}